#navbar {
    font-size: 24px;
    font-weight: bold;
}
#navbar {
    background-color: #413e3e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

#navbar a {
    color: white;
    text-decoration: none;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #dc1010;
    border-radius: 5px;
}

.big {
    font-size: 3rem;
    font-weight: bold;
text-transform: capitalize;
display: none;
}

body {
    background-color: rgb(115, 112, 112);
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 100px;
}

@media(max-width:500px) {
    body {
        background-color: rgb(165, 28, 28);
    }

    #smartphone {
        display: block;
    }
}

@media(min-width: 501px) and (max-width:768px) {
    body {
        background-color: rgb(154, 30, 165);
    }

    #tablet {
        display: block;
    }
}

@media(min-width: 769px) and (max-width:1200px) {
    body {
        background-color: cyan;
    }

    #normal {
        display: block;
    }
}
@media(min-width: 1201px) {
    body {
        background-color: rgb(144, 144, 139);
    }

    #widescreen {
        display: block;
    }
}

@media(max-height: 500px) {
    body {
        background-color: orange;
    }

    #landscape {
        display: block;
    }
}